:root {
  /* Palette */
  --berkeley-blue: #12355b;
  --orange-peel: #ff9f1c;
  --picton-blue: #00a6fb;
  --battleship-gray: #74776b;

  --black: #000;
  --white: #fff;
  --gray: #ebebeb;
  --gray-dark: #8f8f8f;
  --green: #20ae44;
  --red: #ff6124;
  --yellow: #fae361;

  /* App Theme */
  --primary: var(--berkeley-blue);
  --secondary: var(--orange-peel);
  --main-bg-color: var(--gray);

  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
}

body {
  color-scheme: light;
}

body.dark-theme {
  color-scheme: dark;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  display: flex;
  background-color: var(--main-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  color: var(--black);
}

input:focus {
  outline: 0;
}

button {
  background-color: var(--primary);
  border: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 450px) {
  body {
    flex-direction: column;
  }
}
