/* First Panel */
.leftPanel {
  display: flex;
  justify-content: center;
  width: calc(15vw + 20em);
  color: var(--white);
  background-color: var(--berkeley-blue);
  padding: 1em;
}

.rightPanel {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 450px) {
  .leftPanel {
    width: 100vw;
  }
}
