.searchBar {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  width: inherit;
  width: calc(40% + 2em);
  height: calc(20% + 2em);
}

.button {
  color: var(--color-ghostwhite);
  background-color: var(--color-berkeleyblue);
}

.input {
  color: var(--color-berkeleyblue);
  width: clamp(20%,80%,90%)
}

.ulContainer {
  width: inherit;
}

.ul {
  padding: 0;
  list-style: none;
  margin: 0;
  position: absolute;
  width: inherit;
}
.li {
  padding: 0.2em 1em;
  border: 0.01em rgb(45, 45, 45) solid;
}
.li:hover {
  background-color: rgb(40, 40, 40);
}
