.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding: 1em;
}

.loader {
  background: linear-gradient(
    -45deg,
    var(--gray) 40%,
    rgb(255, 255, 255) 50%,
    var(--gray) 60%
  );
  background-size: 200% 100%;
  border-radius: 1em;
  color: #00000000;
  animation: gradient 1s linear infinite;
  fill-opacity: 10%;
  opacity: 75%;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: -200% 0%;
  }
}
