.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: clamp(25em, 100%, 100%);
  height: 2em;
}

.link {
  display: block;
  text-align: center;
  width: clamp(fit-content, 20em, 40em);
}

.link:hover,
.link.active {
  text-decoration: underline;
  background-color: var(--gray);
}

.link:nth-child(1):hover,
.link:nth-child(1).active {
  border-radius: 1.5em 0 0 1.5em;
}
