.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  min-width: 17em;
}

.link {
  background-color: white;
  display: block;
  text-align: center;
  line-height: 2em;
  width: clamp(5em, 100%, 14em);

}

.link:hover,
.link.active {
  background-color: var(--berkeley-blue-light);
  border-color: var(--berkeley-blue-light);
}

.link:nth-child(1) {
  border-radius: 0.1em 0 0 0.1em;
}
.link:nth-last-child(1) {
  border-radius: 0 0.1em 0.1em 0;
}
