.searchBar {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
  position: relative;
}

.inputContainer {
  display: flex;
  height: 2em;
  border: 0.2em white solid;
  border-radius: 0.1em;
}

.button {
  color: var(--gray-dark);
  background-color: var(--white);
  width: 2em;
  cursor: pointer;
}

.button img {
  height: 100%;
  width: 100%;
}

.input {
  background-color: none;
  width: 100%;
  font-size: 100%;
}

.ul {
  position: absolute;
  width: 100%;
  border: 0.2em white solid;
  border-radius: 0.1em;
  background-color: var(--white);
  list-style: none;
  outline: var(--berkeley-blue) solid;
}
.li {
  padding: 0.2em 0.3em;
  cursor: pointer;
  font-size: medium;
  border-radius: 0.1em;
}
.li:hover {
  background-color: var(--berkeley-blue-light);
}
