.searchBar {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
  position: relative;
}

.inputContainer {
  display: flex;
  height: 2em;
  border: 0.2em white solid;
  background-color: white;
  border-radius: 0.1em;
}

.button {
  color: var(--gray-dark);
  background-color: var(--white);
  width: 2em;
  cursor: pointer;
}

.button img {
  height: 100%;
  width: 100%;
}

.input {
  width: 100%;
  font-size: 100%;
}

.ul {
  position: absolute;
  width: 100%;
  border: 0.2em white solid;
  border-radius: 0.1em;
  background-color: var(--white);
  list-style: none;
  outline: var(--berkeley-blue) solid;
}
.li {
  padding: 0.2em 0.3em;
  cursor: pointer;
  font-size: medium;
  border-radius: 0.1em;
}
.li:hover,
.selected {
  background-color: var(--berkeley-blue-light);
}

.loader {
  position: absolute;
  height: 2em;
  background: linear-gradient(
    -45deg,
    var(--gray) 40%,
    rgb(255, 255, 255) 50%,
    var(--gray) 60%
  );
  background-size: 200% 100%;
  border-radius: 0 0 0.1em 0.1em;
  color: #00000000;
  animation: gradient 0.5s linear infinite;
  fill-opacity: 10%;
  opacity: 75%;
  outline: var(--berkeley-blue) solid;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -200% 0%;
  }
}
