:root {
  --color-berkeleyblue-8: #061423;
  --color-berkeleyblue: #12355b;
  --color-ghostwhite: #f0eff4;
  --color-air-orangepeel: #ff9f1c;
  --color-picton-blue: #00a6fb;
  --color-battleship-gray: #74776b;
}

body {
  color-scheme: light;
}

body.dark-theme {
  color-scheme: dark;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  display: flex;
  background-color: var(--color-ghostwhite);
}

.h1 {
  margin: 0;
}

.h2 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border-radius: 0;
  border: 0;
}

input:focus {
  outline: 0;
}

button {
  border: 0;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 450px) {
  body {
    flex-direction: column;
  }
}
