.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 1.5em;
  border: 1px var(--color-jet) solid;
}

.link {
  display: block;
  padding: 0.3em 1em;
}

.link:hover {
  text-decoration: underline;
  background-color: rgb(216, 216, 216);
}

.link:nth-child(1):hover {
  border-radius: 1.5em 0 0 1.5em;
}

.link:nth-child(5):hover {
  border-radius: 0 1.5em 1.5em 0;
}

.link.active {
  text-decoration: underline;
}
.container {
  padding: 2em;
}
.leftPanel {
  display: flex;
  justify-content: center;
  width: 15em;
  color: var(--color-ghostwhite);
  background-color: var(--color-berkeleyblue);
}
