.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  font-size: calc(10px + 2vmin);
}

.link:hover {
  text-decoration: underline;
}

.link.active {
  text-decoration: underline;
}

@media (prefers-reduced-motion: no-preference) {
}
